src/dsp/datasets/epma_national/schema/ePMA_Prescribing.XSD

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0dDraft">
	<xs:element name="ePMA_Prescribing" type="ePMA_Prescribing"/>
	<xs:complexType name="ePMA_Prescribing">
		<xs:annotation>
			<xs:documentation>ePMA_Prescribing Data Set V1.0dDraft</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="Header" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Header" type="Header"/>
	<xs:complexType name="Header">
		<xs:sequence>
			<xs:element name="OrganisationSiteIdentifierSystemLocation" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ORGANISATION SITE IDENTIFIER (SYSTEM LOCATION)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="5"/>
						<xs:maxLength value="9"/>
						<xs:pattern value="([A-Z0-9])*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DataSetCreatedTimestamp" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>DATA SET CREATED TIMESTAMP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrimSystemInUse" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRIMARY DATA COLLECTION SYSTEM IN USE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReportingPeriodStartDate" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>REPORTING PERIOD START DATE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:date"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReportingPeriodEndDate" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>REPORTING PERIOD END DATE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:date"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedication" type="PrescribedMedication" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PrescribedMedication" type="PrescribedMedication"/>
	<xs:complexType name="PrescribedMedication">
		<xs:sequence>
			<xs:element name="NHSNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>NHS NUMBER</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="10"/>
						<xs:minInclusive value="1000000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NHSNumberStatusIndicatorCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>NHS NUMBER STATUS INDICATOR CODE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="01"/>
						<xs:enumeration value="02"/>
						<xs:enumeration value="03"/>
						<xs:enumeration value="04"/>
						<xs:enumeration value="05"/>
						<xs:enumeration value="06"/>
						<xs:enumeration value="07"/>
						<xs:enumeration value="08"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PersonBirthDate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PERSON BIRTH DATE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:date"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrganisationSiteIdentifierOfTreatment" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ORGANISATION SITE IDENTIFIER (OF TREATMENT)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
						<xs:minLength value="5"/>
						<xs:pattern value="([A-Z0-9])*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MedicationAdministrationSettingType_Prescribed" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>MEDICATION ADMINISTRATION SETTING TYPE (PRESCRIBED)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OtherMedicationAdminSettingDesc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>OTHER MEDICATION ADMINISTRATION SETTING DESCRIPTION</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationStatusDesc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION STATUS DESCRIPTION</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedItemIdentifier" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED ITEM IDENTIFIER</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationAuthorisedTimestamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION AUTHORISED TIMESTAMP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationGPManagedPostDischBoolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION GENERAL PRACTITIONER MANAGED POST DISCHARGE BOOLEAN</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationRecordLastUpdatedTimestamp" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION RECORD LAST UPDATED TIMESTAMP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationName" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION NAME</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedication_DmD" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION (DM+D)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:minInclusive value="100000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseFormDescription" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE FORM DESCRIPTION</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseForm_SnomedCt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE FORM (SNOMED CT)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:minInclusive value="100000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationActiveIngredientSubstance" type="PrescribedMedicationActiveIngredientSubstance" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PrescribedMedicationTherapeuticIndication" type="PrescribedMedicationTherapeuticIndication" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PrescribedMedicationDosage" type="PrescribedMedicationDosage" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PrescribedMedicationActiveIngredientSubstance" type="PrescribedMedicationActiveIngredientSubstance"/>
	<xs:complexType name="PrescribedMedicationActiveIngredientSubstance">
		<xs:sequence>
			<xs:element name="PrescribedMedicationActiveIngredientSubstanceDesc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION ACTIVE INGREDIENT SUBSTANCE DESCRIPTION</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationActiveIngredientSubstanceStrengthDesc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION ACTIVE INGREDIENT SUBSTANCE STRENGTH DESCRIPTION</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PrescribedMedicationTherapeuticIndication" type="PrescribedMedicationTherapeuticIndication"/>
	<xs:complexType name="PrescribedMedicationTherapeuticIndication">
		<xs:sequence>
			<xs:element name="PrescribedMedicationTherapeuticIndicationDesc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION THERAPEUTIC INDICATION DESCRIPTION</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TherapeuticIndicationCode_SnomedCt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>THERAPEUTIC INDICATION CODE (SNOMED CT)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:minInclusive value="100000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PrescribedMedicationDosage" type="PrescribedMedicationDosage"/>
	<xs:complexType name="PrescribedMedicationDosage">
		<xs:sequence>
			<xs:element name="PrescribedMedicationDosageInstrSeqNo" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSAGE INSTRUCTION SEQUENCE NUMBER</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDosageInstrDesc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSAGE INSTRUCTION DESCRIPTION</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BodySiteOfAdministrationPrescribedDesc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>BODY SITE OF ADMINISTRATION PRESCRIBED DESCRIPTION</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BodySiteOfAdministrationPrescribed_SnomedCt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>BODY SITE OF ADMINISTRATION PRESCRIBED (SNOMED CT)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:minInclusive value="100000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RouteOfAdministrationPrescribedDesc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ROUTE OF ADMINISTRATION PRESCRIBED DESCRIPTION</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RouteOfAdministrationPrescribed_SnomedCt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ROUTE OF ADMINISTRATION PRESCRIBED (SNOMED CT)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:minInclusive value="100000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MethodOfAdministrationPrescribedDesc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>METHOD OF ADMINISTRATION PRESCRIBED DESCRIPTION</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MethodOfAdministrationPrescribed_SnomedCt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>METHOD OF ADMINISTRATION PRESCRIBED (SNOMED CT)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:minInclusive value="100000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseQuantityValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE QUANTITY VALUE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseQuantityValueUnitOfMeasurementDesc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE QUANTITY VALUE UNIT OF MEASUREMENT DESCRIPTION</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseRangeLowQuantityValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE RANGE LOW QUANTITY VALUE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseRangeLowQuantityValueUnitOfMeasurementDesc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE RANGE LOW QUANTITY VALUE UNIT OF MEASUREMENT DESCRIPTION</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseRangeHighQuantityValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE RANGE HIGH QUANTITY VALUE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="16"/>
						<xs:fractionDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseRangeHighQuantityValueUnitOfMeasurementDesc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE RANGE HIGH QUANTITY VALUE UNIT OF MEASUREMENT DESCRIPTION</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseRepeatFrequencyValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE REPEAT FREQUENCY VALUE</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseRepeatPeriod" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE REPEAT PERIOD</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseRepeatPeriodUnitOfMeasurement_FHIRR4" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE REPEAT PERIOD UNIT OF MEASUREMENT (FHIR R4)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="s"/>
						<xs:enumeration value="min"/>
						<xs:enumeration value="h"/>
						<xs:enumeration value="d"/>
						<xs:enumeration value="wk"/>
						<xs:enumeration value="mo"/>
						<xs:enumeration value="a"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseDayOfWeek_FHIRR4" minOccurs="0" maxOccurs="7">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE DAY OF WEEK (FHIR R4)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="mon"/>
						<xs:enumeration value="tue"/>
						<xs:enumeration value="wed"/>
						<xs:enumeration value="thu"/>
						<xs:enumeration value="fri"/>
						<xs:enumeration value="sat"/>
						<xs:enumeration value="sun"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseTimeOfDay" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE TIME OF DAY</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:time"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseAssociatedEvent_FHIRR4" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE ASSOCIATED EVENT (FHIR R4)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseToBeAdministeredTimestamp" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE TO BE ADMINISTERED TIMESTAMP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationDoseAdministeredAsNeededBoolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION DOSE ADMINISTERED AS NEEDED BOOLEAN</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationValidityPeriodStartTimestamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION VALIDITY PERIOD START TIMESTAMP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationValidityPeriodEndTimestamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION VALIDITY PERIOD END TIMESTAMP</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationAdditionalDosageInstructions" type="PrescribedMedicationAdditionalDosageInstructions" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PrescribedMedicationAdditionalDosageInstructions" type="PrescribedMedicationAdditionalDosageInstructions"/>
	<xs:complexType name="PrescribedMedicationAdditionalDosageInstructions">
		<xs:sequence>
			<xs:element name="PrescribedMedicationAdditionalDosageInstructionDesc" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION ADDITIONAL DOSAGE INSTRUCTION DESCRIPTION</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedMedicationAdditionalDosageInstruction_SnomedCt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PRESCRIBED MEDICATION ADDITIONAL DOSAGE INSTRUCTION (SNOMED CT)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:minInclusive value="100000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
